.row{
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  background-color:  #1a233a;
}

.card-body {
  background-color: #272e48;
  
  
}

.card-text {
  font-size: 1rem;
}

.container {
  display: inline;
  justify-content: center;
  align-items: center;
  background-color: #272e48;
}

.card-img-top {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: #272e48;
}
