.row{
  background-color:  #1a233a;
  margin-right:auto;
  margin-left: auto;
  padding: 10px;
}
.col-md-6{
  padding: 10px;
  border:0px;
  background-color:  #1a233a;
  border-color:#272e48;

}
.card{
  border-color:#272e48;
  height:332px;
  width:570px;
  background-color: #272e48;
  background-image: linear-gradient(to bottom, rgba(39, 46, 72) 0%, rgba(39, 46, 72) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(240, 40, 40, 1) 100%);
  background-clip: content-box, padding-box;
}
.card-body {
  background-color: #272e48;
  border:0px;
  padding:10px;
}
.card-title{
  color: #5B92FF;
  border-color:#272e48;
}

.card-text {
  font-size: 1rem;
  
}


.container {
  border-color:#1a233a;
  align-items: center;
  background-color: #1a233a;
  padding:10px;
  
}

.conten-img{
  border-color:#272e48;
  background-color: #272e48;
  padding-top: 5%;
  
}
.img {
  background-color: #272e48;
  width: 38%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}
.card-low{
  background-color: #272e48;
  padding: 10px;

}
