.row{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color:  #1a233a;
  border:0px;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-6{
  padding: 2%;
  border:0px;

}

.card-body {
  background-color: #272e48;
  border:0px;
}
.card-title{
  color: #5B92FF;
}

.card-text {
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272e48;
}

.conten-img{
  background-color: #272e48;
  padding-top: 10%;
  
}
.img {
  background-color: #272e48;
  width: 38%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}
