.App {
  font-family: 'Roboto', sans-serif;
  background-color: #1a233a;
}
.row{
  background-color: #1a233a;
  color:#a8c5ff
}
.container{
  color:#a8c5ff
}
.mid-footy{
  margin-right:0px;
  width: 95%;
  color:#a8c5ff
}

.linklist{
  color:#a8c5ff;
}
